
.item-title {
  font-family: "Raleway";
  font-style: regular;
  line-height: 42px;
  font-size: 36px;
  font-weight: 400;
  color: #212121
  
  
}
.item-title::after{
  content: "";
  display: block;
  margin: 30px auto;
  width: 64px;
  height: 2px;
  background-color: #e72424;
}
.item-frame{
  width: 64px;
  height: 2px;
  border-bottom: 1px, solid;
  background-color: #e72424;
  margin: auto;
  margin-bottom: 34px;

}
.item-text {
  font-family: "Open Sans";
  font-style: regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #86878B
}
.awesome-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
  }
  .awesome-item {
    
  width: 350px;
  margin: 0 15px;
  }
  .awesome-item-content {

  }
  .awesome-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #e72424;
  margin: 0 auto 30px;
  }
  .awesome-item-title {
 font-family: "Open Sans";
 font-style: bold;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #333333;
  text-align: center;
  margin-bottom: 15px;
  }
  .awesome-item-text p {
  font-family: "Open Sans";
  font-style: regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  text-align: center;
  margin-bottom: 16px;
  }
 