.footer {
    padding: 25px;
    background-color: #000;
   

}
.social-network-item{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #fff;
    width: 700px;
    margin: auto;
 
}
.footer-text{
    width: 130px;
    height: 15px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    margin: auto;
}
.social-network{
    margin: auto;
margin-bottom: 20px;
}