.header {
    padding: 25px;
    background-color: #000;
}
.wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.logo {
    color: #fff;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin: 0 15px;

}
.logo::after{
    content: "IT";
    display: inline-block;
    font-size: 30px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #ec7979;

}
.navigation {
   margin: 0 15px;
}
.navigation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    
}
.navigation-list-item {
    width: 100px;
    margin: 0 20px;
    height: 20px;
    align-items: center;
    margin: auto;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
.navigation-list-item:hover{
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.navigation-list-item:first-child{
    margin-left: 0;
}