@import url(../css/cdn.css);
@import url(../css/awesome.css);
@import url(../css/pricing.css);
@import url(../css/customers.css);
@import url(../css/axure.css);
@import url(../css/header.css);
@import url(../css/media.css);
@import url(../css/footer.css);
@import url(../css/axit.css);
@import url(../css/contact.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: currentColor;
}
html {
    font-family: "Open Sans", "Raleway", sans-serif;
    font-size: 36px;
    
  }
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 2;
    
  }
  section {
    padding: 80px 0;
    text-align: center;
    position: relative;
}
.awesome{
}
.pricing{
  background-color: #f5f5f5;
  
}
.customers{
  
}
.axure{
    background: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  } 
  .axure::after{
    content: "";
    position:absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.55);   
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
