.media{
    padding: 20px;
    background-color: #f8efef;
}
.wrap-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
.media-left{
    margin: 0 15px;


    
}
  .media-left-title {
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      color: #333333;
      line-height: 27px;
      margin-bottom: 14px;
      text-align: left;
}
.media-left p{
    width: 365px;
    height: 38px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #86878B;
    text-align: left;

}
.media-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 15px;
    color: rgba(0, 0, 0, 0.3);
}
.media-right-social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.media-right-item{
    font-size: 50px;
    margin-left: 50px;
}
.media-right-item:hover{
    /* color: rgba(0, 0, 0, 0.8); */
    transform: scale(1.3);
    
}
.fa-facebook{
    animation-name: fa-facebook;
    animation:fa-facebook 5000ms infinite ;
    animation-timing-function: ease-out;
}
.fa-twitter{
    animation-name: fa-twitter;
    animation:fa-twitter 5000ms infinite ;
    animation-timing-function: ease-out;
}
.fa-google-plus-g{
    animation-name: fa-google-plus-g;
    animation:fa-google-plus-g 5000ms infinite ;
    animation-timing-function: ease-out;
}
.fa-pinterest{
    animation-name: fa-pinterest;
    animation:fa-pinterest 5000ms infinite ;
    animation-timing-function: ease-out;
}
.fa-instagram{
    animation-name: fa-instagram;
    animation:fa-instagram 5000ms infinite ;
    animation-timing-function: ease-out;   
}
.fa-youtube{
    animation-name: fa-youtube;
    animation:fa-youtube 5000ms infinite ;
    animation-timing-function: ease-out;   
}
@keyframes fa-facebook {
    0% {
    }
    100% {
        color: #3B5998;
    }
}
@keyframes fa-twitter {
    0% {
    }
    100% {
        color: #00ACEE;
    }
}
@keyframes fa-google-plus-g {
    0% {
    }
    100% {
        color: #db4a39;
    }
}
@keyframes fa-pinterest {
    0% {
    }
    100% {
        color: #e60023;
    }
}
@keyframes fa-instagram {
    0%{

    }
    100%{
        
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    }
}
@keyframes fa-youtube {
    0% {
        
    }
    100% {
        color: #ff0000;
    }
}